<nav class="nav rt-bg-color-primary">
  <span class="nav__text">
    <mat-icon class="icon-user">person</mat-icon>
    <h5 class="userName">{{userName}}</h5>
  </span>
  <span data-bs-toggle="dropdown" aria-expanded="false" aria-hidden="true">
    <mat-icon class="config-icon">more_vert</mat-icon>
  </span>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item"><mat-icon class="space-icon">group</mat-icon>Administrar usuarios</a></li>
    <li><a class="dropdown-item" (click)="logout()"><mat-icon class="space-icon">logout</mat-icon>Cerrar sesion</a></li>
  </ul>
</nav>