

<div class="row">
  <div class="body-section">
    <div class="col-12 col-md-12 info">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Asociados</div>
            <div class="card-body text-center">
              <h4 class="card-title">5.000</h4>
            </div>
          </div>
          <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Adjudicaciones</div>
            <div class="card-body text-center">
              <h4 class="card-title">2.500</h4>
            </div>
          </div>
          <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-center">
              <h4 class="card-title">Success card title</h4>
            </div>
          </div>
      </div>
    </div>
</div>