
<div class="mb-3 mt-2 col-6">
  <input class="form-control" type="file" id="formFile" accept=".png, .jpg" 
        (change)="selectImage($event.target.files)" multiple>
</div>

<div class="img-content" *ngIf="imgTemp.length != 0">
  <ng-template ngFor let-img let-i="index" [ngForOf]="imgTemp" >
    <div class="img-content__card animate__animated animate__fadeInDown">
      <div class="text-center img-content__card-file">
        <div class="img-content__card-file--check" *ngIf="OnSetPrincipal">
          <input class="form-check-input" (change)="setPrincipal(img)" type="checkbox" [checked]="img.isPricipal" [disabled]="img.isPricipal">
        </div>
       
        <img [src]="img.url" class="rounded img-content__card-file--img" alt="...">
      </div>
      <div class="mt-2 mb-3 img-content__card-file--btn">
        <!-- <div class="form-check form-switch">
          <label class="form-check-label" for="flexSwitchCheckChecked">Foto principal</label>
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (change)="setPrincipal(img)" [checked]="img.isPricipal" [disabled]="img.isPricipal">
        </div> -->
        <button type="button" class="btn btn-danger" (click)="delete(i)"><i class="fa fa-trash"></i></button>
      </div>
    
    </div>
  </ng-template>
</div>

<app-empty-state *ngIf="imgTemp.length == 0" [title]="'No se seleccionó imagenes'"
                [description]="'Por favor, seleccione las imágenes a cargar'">
</app-empty-state>



