<div class="mb-3 mt-2 col-12 d-flex justify-content-end">
  <label class="btn btn-color d-flex justify-content-center col-3" for="formFile"> <mat-icon>file_upload</mat-icon> Seleccionar imagenes</label>
  <input class="form-control" style="display:none" type="file" id="formFile" name="formFile" 
      accept="image/*"
    (change)="selectImage($event.target.files)" multiple>
</div>

<div class="img-content" *ngIf="imgTemp.length != 0">
  <ng-template ngFor let-img let-i="index" [ngForOf]="imgTemp">
    <div class="img-content__card animate__animated animate__fadeInDown">
      <div class="text-center img-content__card-file mt-1 mb-3">
        <div class="img-content__card-file--iconGroup">
          <mat-icon class="img-content__card-file--icon" (click)="setPrincipal(img)" aria-hidden="true"
            *ngIf="OnSetPrincipal" [ngClass]="{'iconColor': img.isPricipal}">{{img.isPricipal ? 'check_circle' :
            'radio_button_unchecked'}}</mat-icon>
          <mat-icon class="img-content__card-file--icon" (click)="delete(i)">clear</mat-icon>
        </div>

        <img [src]="img.url" class="rounded img-content__card-file--img" alt="...">
      </div>
    </div>
  </ng-template>
</div>

<app-empty-state *ngIf="imgTemp.length == 0" [title]="'No se seleccionó imagenes'"
  [description]="'Por favor, seleccione las imágenes a cargar'">
</app-empty-state>