<div class="row content">
  <div class="col-12 col-md-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-12 col-md-12 d-flex justify-content-end">
      <button type="button" class="btn btn-warning d-flex" (click)="add()"><i class="fa fa-plus-circle content__add-icon" aria-hidden="true"></i>
        Agregar
      </button>
    </div>
  </div>
  
</div>