.content {
  padding: 1.5rem 2rem;

  &__add-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.scroll {
  overflow-y: auto;
  height: 64.5vh;
}

.card_tipologia {
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  //box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  margin-bottom: 1.5rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 100%;

    &--name {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__wrapperImg {
    width: 11rem;
    height: 7.5rem;

    &--img {
      height: 77%;
      width: 100%;
      object-fit: scale-down;
    }
  }

  &__details {
    display: flex;
    width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    align-self: center;

    &--icon {
      font-size: 2rem;
    }
  }
}

.card_tipologia:hover {
  cursor: pointer;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

