
<div class="mb-3 mt-2 col-6">
  <input class="form-control" type="file" id="formFile" accept=".png, .jpg" 
        (change)="selectImage($event.target.files)" multiple>
</div>

<div class="img-content">
  <ng-template ngFor let-img let-i="index" [ngForOf]="imgTemp" >
    <div class="img-content__card">
      <div class="text-center img-content__card-file">
        <img [src]="img" class="rounded img-content__card-file--img" alt="...">
      </div>
      <div class="mt-2 mb-3 img-content__card-file--btn">
        <button class="btn btn-danger prueba" (click)="delete(i)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </ng-template>
</div>



