<div class="row body-section-wrapper">
  <div class="body-section">
    <div class="col-6 col-md-6">
      <h1> <strong> Vivienda {{tipologia.nombre}} </strong></h1>
    </div>
    <div class="col-12 col-md-12">
      <mat-tab-group mat-align-tabs="start" [color]="'accent'">
        <mat-tab label="Detalle">
          <div class="mt-3 ps-2 pe-2">
            <div class="d-flex">
              <div class="col-7 col-md-7">
                <p><strong>Superficie de Lote:</strong> {{ tipologia.supLote }} m²</p>
                <p>
                  <strong>Superficie de cochera:</strong>
                  {{ tipologia.supCochera || "-" }} {{ tipologia.supCochera ? 'm²' : ''}}
                </p>
                <p>
                  <strong>Permite ampliacion planta alta:</strong>
                  {{ tipologia.plantaAlta ? "Si" : "No" }}
                </p>
                <p>
                  <strong>Cantidad máxima de habitaciones:</strong>
                  {{ tipologia.cantMaxHabitaciones == 0 ? 'Monoambiente' : tipologia.cantMaxHabitaciones }}
                </p>
              </div>
              <div class="col-5 col-md-5 detail-cost">
                <h3> <strong> Costos base</strong></h3>
                <p>
                  <strong>Precio m² superficie cubierta:</strong>
                  $ {{ tipologia.costom2Cubierto | number:'3.2-2' }}
                </p>
                <p>
                  <strong>Precio m² superfice semi-cubierta:</strong>
                  {{tipologia.costom2SemiCubierto ? '$' : '-'}} {{ tipologia.costom2SemiCubierto | number:'3.2-2' || "-"
                  }}
                </p> 
              </div>
            </div>
           
            <!-- <hr /> -->
            <h2 class="mb-0 mt-3">Detalle de viviendas</h2>
            <div class="col-6 col-md-6">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Cantidad habitaciones</th>
                    <th scope="col">m² cubierto</th>
                    <th scope="col">Costo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tipologia.detalle">
                    <td>{{ item.name }}</td>
                    <td>{{ item.supCubierta }} <span>m²</span></td>
                    <td><span>$</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Fotos">
          <div class=" mt-3 ps-2 pe-2">
            <ng-template [ngIf]="tipologia.fotos">
              <app-image-gallery [image]="tipologia.fotos"></app-image-gallery>
            </ng-template>

            <app-empty-state *ngIf="!tipologia.fotos" [title]="'Fotos'" [description]="'No hay fotos cargadas'">
            </app-empty-state>
          </div>
        </mat-tab>

        <mat-tab label="Planos">
          <div class="mt-3 ps-2 pe-2">
            <ng-template [ngIf]="tipologia.planos">
              <app-image-gallery [image]="tipologia.planos"></app-image-gallery>
            </ng-template>
          </div>

          <app-empty-state *ngIf="!tipologia.planos" [title]="'Planos'" [description]="'No hay planos cargadas'">
          </app-empty-state>
        </mat-tab>

        <mat-tab label="Notas">
          <div class="mt-3 ps-2 pe-2">
            <p [innerHtml]="tipologia.descripcion"></p>
            <app-empty-state *ngIf="!tipologia.descripcion" [title]="'Notas'" [description]="'No hay notas cargadas'">
            </app-empty-state>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="card-footer bg-transparent">
    <div class="col-12 col-md-12 d-flex justify-content-end align-items-end">
      <button type="button" class="btn btn-secondary card-footer__btn" (click)="close()">
        Volver
      </button>
    </div>
  </div>
</div>