/* You can add global styles to this file, and also import other style files */
* {
  font-family: Helvetica, sans-serif;
}

/*CSS Generales de color*/
.rt-bg-color-primary {
  background-color: #ffe168;
}

.rt-color-primary {
  color: #ffe168;
}

.body-section {
  height: 73vh;
}

/** CSS State */
.state {
  height: 100%;
  width: 0.8rem;
}

.state:hover {
  cursor: pointer;
}

.state-suspend {
  background-color: gray;
}

.state-active {
  background-color: #4bb950;
}

/**CSS Scroll*/
*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffe168;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar:vertical {
  width: 10px;
}

/*CSS Spinner*/
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.452);
}

/*CSS controles de form*/
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: #ffe168 !important;
  box-shadow: none !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 225, 104, 0.2) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*CSS Tooltip*/
.my-custom-class .tooltip-inner {
  background-color: #ffc107;
  color: black;
  font-weight: bold;
  margin-right: 0.5rem;
}

.my-custom-class .arrow::before {
  background-color: #ffc107;
  color: black;
}
