<div class="row body-section-wrapper">
  <form #form="ngForm" (submit)="save()">

    <div class="body-section">

      <div class="col-12 col-md-12">
        <mat-form-field class="control">
          <mat-label>Nombre tipología</mat-label>
          <input matInput name="name" [(ngModel)]="tipologia.nombre" required>
        </mat-form-field>
      </div>

      <!-- Tabs -->
      <div class="col-12 col-md-12">
        <mat-tab-group mat-align-tabs="start" [color]="'accent'">
          <mat-tab label="Detalle">
            <div class="d-flex mt-3 ps-2 pe-2">
              <div class=" col-6 col-md-6 d-flex flex-column">
                <mat-form-field class="control">
                  <mat-label>Superficie Lote</mat-label>
                  <input type="number" matInput name="supLote" [(ngModel)]="tipologia.supLote" required>
                  <span matSuffix>m²</span>
                </mat-form-field>

                <mat-form-field class="control">
                  <mat-label>Superficie cochera</mat-label>
                  <input type="number" matInput name="supCochera" [(ngModel)]="tipologia.supCochera">
                  <span matSuffix>m²</span>
                </mat-form-field>

                <mat-slide-toggle name="ampliacion" [(ngModel)]="tipologia.plantaAlta">Permite edificación
                  planta alta</mat-slide-toggle>

                <mat-form-field class="control mt-3">
                  <mat-label>Cantidad máxima de habitaciones</mat-label>
                  <mat-select name="habitaciones" (selectionChange)="select()"
                    [(ngModel)]="tipologia.cantMaxHabitaciones" required>
                    <mat-option value="0">
                      Monoambiente
                    </mat-option>
                    <mat-option value="1"> 1 </mat-option>
                    <mat-option value="2"> 2 </mat-option>
                    <mat-option value="3"> 3 </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-6 col-md-6">
                <h2>Superficie cubierta</h2>
                <div class=" d-flex mt-6 flex-column scroll" *ngIf="tipologia.detalle.length != 0">

                  <ng-template ngFor let-i="index" let-item [ngForOf]="tipologia.detalle">
                    <div class="animate__animated animate__pulse detalle-tipologia">

                      <mat-form-field class="control">
                        <mat-label>{{item.name}}</mat-label>
                        <input type="number" matInput [name]="'sup' + i" [(ngModel)]="item.supCubierta" required>
                        <span matSuffix>m²</span>
                      </mat-form-field>

                      <div class="d-flex">
                        <label class="me-2">Costo</label>
                        <p>$ </p>
                      </div>

                    </div>
                  </ng-template>
                </div>

                <app-empty-state *ngIf="tipologia.detalle.length == 0" [title]="'Cantidad de habitaciones'"
                                  [description]="'Por favor, seleccione cantidad máxima de habitaciones'">
                </app-empty-state>
              </div>

            </div>
          </mat-tab>

          <mat-tab label="Fotos">
            <div class="col-12 col-md-12 col-sm-12 mt-3 ps-2 pe-2">
              <app-upload-image (listImg)="uploadImg($event)" [OnSetPrincipal]="true"></app-upload-image>
            </div>
          </mat-tab>

          <mat-tab label="Planos">
            <div class="col-12 col-md-12 col-sm-12 mt-3 ps-2 pe-2">
              <app-upload-image (listImg)="uploadPlano($event)"></app-upload-image>
            </div>
          </mat-tab>

          <mat-tab label="Notas">
            <div class="mt-3 ps-2 pe-2">
              <quill-editor [styles]="editorStyle" [modules]="config" name="editor" [(ngModel)]="tipologia.descripcion">
              </quill-editor>
            </div>
          </mat-tab>

        </mat-tab-group>
      </div>

    </div>
    <div class="card-footer bg-transparent">
      <div class="col-12 col-md-12 d-flex justify-content-end align-items-end">
        <button type="button" class="card-footer__btn" mat-flat-button color="basic" (click)="close()">Cancelar</button>
        <button type="submit" mat-flat-button color="accent" [disabled]="!form.valid">Guardar</button>
      </div>
    </div>

  </form>
</div>