.spinner {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  color: #ffcc00;
  animation-delay: 0.9;
}

.duracion_1 {
  animation-delay: 0.2;
}
.duracion_2 {
  animation-delay: 0.6;
}
.duracion_3 {
  animation-delay: 0.8;
}
.duracion_4 {
  animation-delay: 0.1;
}
